<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ydle"
    android:versionCode="1"
    android:versionName="0.1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application
        android:name="org.ydle.Ydle"
        android:allowBackup="true"
        android:icon="@drawable/ydle"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.ydle.activity.YdleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.ydle.activity.MainActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="org.ydle.activity.wizard.WizardActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="org.ydle.activity.settings.ExtraActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="org.ydle.activity.settings.SettingsActivity"
            android:label="@string/action_settings"></activity>
        <activity
            android:name="org.ydle.activity.RoomListActivity"
            android:label="@string/title_room_list">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ydle.activity.MainActivity" />
            </activity>
        <activity
            android:name="org.ydle.activity.AboutActivity"
            android:label="@string/title_about">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ydle.activity.settings.SettingsActivity" />
            </activity>
        <activity
            android:name="org.ydle.activity.settings.HostListActivity"
            android:label="@string/title_host_list">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ydle.activity.settings.SettingsActivity" />
            </activity>
        <activity
            android:name="org.ydle.activity.settings.HostDetailActivity"
            android:label="@string/title_host_detail">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.ydle.activity.HostListActivity" />
        </activity>
        <activity
            android:name="org.ydle.activity.historique.GraphHistoryActivity"
            android:label="@string/app_name"></activity>
        <activity
            android:name="org.ydle.activity.AlertActivity"
            android:label="@string/title_activity_alert"></activity>
        <activity
            android:name="org.ydle.activity.RoomSlidePagerActivity"
            android:label="@string/app_name"></activity>

        <activity
            android:name="org.ydle.activity.RoomEditActivity"
            android:label="@string/app_name"></activity>
    </application>

</manifest>